startup_commands toggle_custom_color

# === CATPPUCCIN MOCHA === #
background_color           #1e2326

text_highlight_color       #d3c6aa
visual_mark_color          #859289

search_highlight_color     #dbbc7f
link_highlight_color       #7fbbb3
synctex_highlight_color    #a7c080

highlight_color_a          #d3c6aa
highlight_color_b          #a7c080
highlight_color_c          #7fbbb3
highlight_color_d          #e69875
highlight_color_e          #d699b6
highlight_color_f          #e67e80
highlight_color_g          #dbbc7f


custom_background_color    #1e2326
custom_text_color          #9da9a0

ui_text_color              #9da9a0
ui_background_color        #272e33
ui_selected_text_color     #9da9a0
ui_selected_background_color #414b50

status_bar_color           #272e33
status_bar_text_color      #9da9a0
